body{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
	padding: 32px;
	text-align: center;
	color: white;
	background: #1abc9c;
	font-size: 30px;
	width: 100%
}

body {
	background-color: Gray;
}

ul.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 0px;
  width: 100%;
}

li.navlist {
  list-style-type: none;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

* {
  box-sizing: border-box;
}

.button2 {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: bottom; 
}